* {
    color: black;
}

.title {
    text-align: center;
}

h3 {
    text-align: center;
}

.inputBox {
    height: 60px;
    resize:none;
    vertical-align:text-top;
}

.potatoes{
    font-size: larger;
    font-family: monospace;
    font-weight: bolder;
}

.activity{
    font-size: larger;
    font-family: monospace;
    font-weight: bolder;
}